.profile {
    max-width: 882px;
    margin: 0 auto;
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .profile {
        max-width: 282px;
        max-height: 286px;
        flex-direction: column;
        justify-content: center;
    }
}

