.profile__info {
    max-width: 336px;
    max-height: 77px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: end;
}

@media screen and (max-width: 768px) {
    .profile__info {
        justify-content: center;
        margin-top: 11px;
    }
}