.profile__about-me {
    max-width: 318px;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
